<div>
    <div class="max-w-medium mx-auto py-2">

  
      <div class="grid grid-cols-1 gap-y-2 sm:grid-cols-2 sm:grid-rows-2 sm:gap-x-2">
        <div class="group aspect-w-2 aspect-h-1 overflow-hidden sm:aspect-h-1 sm:aspect-w-1 sm:row-span-2">
          <img
          srcset="{%- if section.settings.image_one.width >= 375 -%}{{ section.settings.image_one | img_url: '375x' }} 375w,{%- endif -%}
            {%- if section.settings.image_one.width >= 750 -%}{{ section.settings.image_one | img_url: '750x' }} 750w,{%- endif -%}
            {%- if section.settings.image_one.width >= 1100 -%}{{ section.settings.image_one | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if section.settings.image_one.width >= 1500 -%}{{ section.settings.image_one | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if section.settings.image_one.width >= 1780 -%}{{ section.settings.image_one | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if section.settings.image_one.width >= 2000 -%}{{ section.settings.image_one | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if section.settings.image_one.width >= 3000 -%}{{ section.settings.image_one | img_url: '3000x' }} 3000w,{%- endif -%}
            {%- if section.settings.image_one.width >= 3840 -%}{{ section.settings.image_one | img_url: '3840x' }} 3840w,{%- endif -%}
            {{ section.settings.image_one | img_url: 'master' }} {{ section.settings.image_one.width }}w"
            sizes="100vw"
            src="{{ section.settings.image_one | img_url: '1000x' }}"
            loading="lazy"
            class="object-center object-cover group-hover:opacity-90"
            alt="{{ section.settings.image_one.alt | escape }}"
            width="{{ section.settings.image_one.width }}"
            height="{{ section.settings.image_one.width | divided_by: section.settings.image_one.aspect_ratio }}"
          >
          
          <div aria-hidden="true" class="bg-gradient-to-b from-transparent to-black opacity-50"></div>
          <div class="p-6 flex items-end">
            <div>
              <h3 class="font-semibold text-white">
                <a href="{{section.settings.button_link_one}}">
                  <span class="absolute inset-0"></span>
                  {{ section.settings.button_label_one }}
                </a>
              </h3>
              <p aria-hidden="true" class="mt-1 text-sm text-white">SHOP NOW</p>
            </div>
          </div>
        </div>
        <div class="group aspect-w-2 aspect-h-1 overflow-hidden sm:relative sm:aspect-none sm:h-full">
          <img
          srcset="{%- if section.settings.image_two.width >= 375 -%}{{ section.settings.image_two | img_url: '375x' }} 375w,{%- endif -%}
            {%- if section.settings.image_two.width >= 750 -%}{{ section.settings.image_two | img_url: '750x' }} 750w,{%- endif -%}
            {%- if section.settings.image_two.width >= 1100 -%}{{ section.settings.image_two | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if section.settings.image_two.width >= 1500 -%}{{ section.settings.image_two | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if section.settings.image_two.width >= 1780 -%}{{ section.settings.image_two | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if section.settings.image_two.width >= 2000 -%}{{ section.settings.image_two | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if section.settings.image_two.width >= 3000 -%}{{ section.settings.image_two | img_url: '3000x' }} 3000w,{%- endif -%}
            {%- if section.settings.image_two.width >= 3840 -%}{{ section.settings.image_two | img_url: '3840x' }} 3840w,{%- endif -%}
            {{ section.settings.image_two | img_url: 'master' }} {{ section.settings.image_two.width }}w"
            sizes="100vw"
            src="{{ section.settings.image_two | img_url: '1000x' }}"
            loading="lazy"
            class="object-center object-cover group-hover:opacity-90 sm:absolute sm:inset-0 sm:w-full sm:h-full"
            alt="{{ section.settings.image_two.alt | escape }}"
            width="{{ section.settings.image_two.width }}"
            height="{{ section.settings.image_two.width | divided_by: section.settings.image_two.aspect_ratio }}"
          >
          
          <div aria-hidden="true" class="bg-gradient-to-b from-transparent to-black opacity-50 sm:absolute sm:inset-0"></div>
          <div class="p-6 flex items-end sm:absolute sm:inset-0">
            <div>
              <h3 class="font-semibold text-white">
                <a href="{{section.settings.button_link_two}}">
                  <span class="absolute inset-0"></span>
                  {{ section.settings.button_label_two }}
                </a>
              </h3>
              <p aria-hidden="true" class="mt-1 text-sm text-white">SHOP NOW</p>
            </div>
          </div>
        </div>
        <div class="group aspect-w-2 aspect-h-1 overflow-hidden sm:relative sm:aspect-none sm:h-full">
          <img
          srcset="{%- if section.settings.image_three.width >= 375 -%}{{ section.settings.image_three | img_url: '375x' }} 375w,{%- endif -%}
            {%- if section.settings.image_three.width >= 750 -%}{{ section.settings.image_three | img_url: '750x' }} 750w,{%- endif -%}
            {%- if section.settings.image_three.width >= 1100 -%}{{ section.settings.image_three | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if section.settings.image_three.width >= 1500 -%}{{ section.settings.image_three | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if section.settings.image_three.width >= 1780 -%}{{ section.settings.image_three | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if section.settings.image_three.width >= 2000 -%}{{ section.settings.image_three | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if section.settings.image_three.width >= 3000 -%}{{ section.settings.image_three | img_url: '3000x' }} 3000w,{%- endif -%}
            {%- if section.settings.image_three.width >= 3840 -%}{{ section.settings.image_three | img_url: '3840x' }} 3840w,{%- endif -%}
            {{ section.settings.image_three | img_url: 'master' }} {{ section.settings.image_three.width }}w"
            sizes="100vw"
            src="{{ section.settings.image_three | img_url: '1000x' }}"
            loading="lazy"
            class="object-center object-cover group-hover:opacity-90 sm:absolute sm:inset-0 sm:w-full sm:h-full"
            alt="{{ section.settings.image_three.alt | escape }}"
            width="{{ section.settings.image_three.width }}"
            height="{{ section.settings.image_three.width | divided_by: section.settings.image_one.aspect_ratio }}"
          >
          
          <div aria-hidden="true" class="bg-gradient-to-b from-transparent to-black opacity-50 sm:absolute sm:inset-0"></div>
          <div class="p-6 flex items-end sm:absolute sm:inset-0">
            <div>
              <h3 class="font-semibold text-white">
                <a href="{{section.settings.button_link_three}}">
                  <span class="absolute inset-0"></span>
                  {{ section.settings.button_label_three }}
                </a>
              </h3>
              <p aria-hidden="true" class="mt-1 text-sm text-white">SHOP NOW</p>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>

  {% schema %}
{
  "name": "Featured Collection Two",
  "tag": "section",
  "settings": [
  {
    "type": "header",
    "content": "Image Block One"
  },
  {
    "type": "image_picker",
    "id": "image_one",
    "label": "Desktop"
  },
  {
    "type": "text",
    "id": "button_label_one",
    "default": "Button label",
    "label": "Button Label"
  },
  {
    "type": "url",
    "id": "button_link_one",
    "label": "Button Link"
  },
  {
    "type": "header",
    "content": "Image Block Two"
  },
  {
    "type": "image_picker",
    "id": "image_two",
    "label": "Desktop"
  },
  {
    "type": "text",
    "id": "button_label_two",
    "default": "Button label",
    "label": "Button Label"
  },
  {
    "type": "url",
    "id": "button_link_two",
    "label": "Button Link"
  },
  {
    "type": "header",
    "content": "Image Block Three"
  },
  {
    "type": "image_picker",
    "id": "image_three",
    "label": "Desktop"
  },
  {
    "type": "text",
    "id": "button_label_three",
    "default": "Button label",
    "label": "Button Label"
  },
  {
    "type": "url",
    "id": "button_link_three",
    "label": "Button Link"
  }
  ],
  "presets": [
    {
      "name": "Featured Collection Two"
    }
  ]
}

{% endschema %}