<style>
    #shopify-section-{{section.id}} .main-section {
      background-color: {{section.settings.background_color}};
    }
  
    #shopify-section-{{section.id}} .main-section {
      padding-top:{{section.settings.desktop_padding_top}}px;
      padding-bottom: {{section.settings.desktop_padding_bottom}}px;
    }
    #shopify-section-{{section.id}} .grid {
      row-gap: {{section.settings.desktop_row_gap}}px;
      column-gap: {{section.settings.desktop_column_gap}}px;
    }
  
    #shopify-section-{{section.id}} .featured-card {
      padding: {{section.settings.mobile_card_padding_x}}px;
    }
  
    #shopify-section-{{section.id}} .featured-card {
      border-radius: {{section.settings.border_radius}}px;
    }
  
  
    @media screen and (max-width: 768px) {
      #shopify-section-{{section.id}} .main-section {
  
      padding-top:{{section.settings.mobile_padding_top}}px;
      padding-bottom: {{section.settings.mobile_padding_bottom}}px;
      padding-right: {{section.settings.mobile_padding_x}}px;
      padding-left: {{section.settings.mobile_padding_x}}px;
    }
    #shopify-section-{{section.id}} .grid {
      row-gap: {{section.settings.mobile_row_gap}}px;
      column-gap: {{section.settings.mobile_column_gap}}px;
    }
    }
  </style>
  
  <section class='{{ section.settings.desktop_max_width }} mx-auto main-section px-6 px-16-desktop'>
    <div class='grid grid-cols-{{section.settings.mobile_grid_columns}} md:grid-cols-{{section.settings.desktop_grid_columns}} xl:grid-cols-{{section.settings.extra_wide_desktop_grid_columns}}'>
      {% for block in section.blocks %}
        <style>
          #shopify-section-{{section.id}} .block-{{block.id}} .desktop {
            {% unless block.settings.desktop_image_max_width == 0 %}
              max-width: {{block.settings.desktop_image_max_width}}px
            {% endunless %}
          }
          #shopify-section-{{section.id}} .block-{{block.id}} .mobile {
            {% unless block.settings.mobile_image_max_width == 0 %}
              max-width: {{block.settings.mobile_image_max_width}}px
            {% endunless %}
          }
        </style>
        {% if block.settings.url != blank and block.settings.display_button == false %}
          <a
            href='{{block.settings.url}}'
            {% if block.settings.external_url == true %}
              target='_blank'
            {% endif %}
            style="background-color: {{block.settings.background_color}}"
            class='flex flex-col featured-card block-{{block.id}}'
          >
          {% else %}
        <span
          style='background-color: {{block.settings.background_color}}'
          class='flex flex-col featured-card block-{{block.id}}'
        >
        {% endif %}
          {% if block.settings.image != blank %}
            <div
              class='mx-auto'
            >
              <img
                srcset='
                  {%- if block.settings.image.width >= 375 -%}{{ block.settings.image | img_url: '375x' }} 375w,{%- endif -%}
                  {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | img_url: '750x' }} 750w,{%- endif -%}
                  {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
                  {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                  {%- if block.settings.image.width >= 1780 -%}{{ block.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
                  {%- if block.settings.image.width >= 2000 -%}{{ block.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
                  {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
                  {%- if block.settings.image.width >= 3840 -%}{{ block.settings.image | img_url: '3840x' }} 3840w,{%- endif -%}
                  {{ block.settings.image | img_url: 'master' }} {{ block.settings.image.width }}w
                '
                sizes='100vw'
                src='{{ block.settings.image | img_url: '1500x' }}'
                loading='lazy'
                class='hidden md:block w-full desktop mx-auto hover:opacity-80'
                alt='{{ block.settings.image.alt | escape }}'
                width='{{ block.settings.image.width }}'
                height='{{ block.settings.image.width | divided_by: block.settings.image.aspect_ratio }}'
              >
  
              <img
                srcset='
                  {%- if block.settings.mobile_image.width >= 375 -%}{{ block.settings.mobile_image | img_url: '375x' }} 375w,{%- endif -%}
                  {%- if block.settings.mobile_image.width >= 750 -%}{{ block.settings.mobile_image | img_url: '750x' }} 750w,{%- endif -%}
                  {%- if block.settings.mobile_image.width >= 1100 -%}{{ block.settings.mobile_image | img_url: '1100x' }} 1100w,{%- endif -%}
                  {%- if block.settings.mobile_image.width >= 1500 -%}{{ block.settings.mobile_image | img_url: '1500x' }} 1500w,{%- endif -%}
                  {%- if block.settings.mobile_image.width >= 1780 -%}{{ block.settings.mobile_image | img_url: '1780x' }} 1780w,{%- endif -%}
                  {%- if block.settings.mobile_image.width >= 2000 -%}{{ block.settings.mobile_image | img_url: '2000x' }} 2000w,{%- endif -%}
                  {%- if block.settings.mobile_image.width >= 3000 -%}{{ block.settings.mobile_image | img_url: '3000x' }} 3000w,{%- endif -%}
                  {%- if block.settings.mobile_image.width >= 3840 -%}{{ block.settings.mobile_image | img_url: '3840x' }} 3840w,{%- endif -%}
                  {{ block.settings.mobile_image | img_url: 'master' }} {{ block.settings.mobile_image.width }}w
                '
                sizes='100vw'
                src='{{ block.settings.mobile_image | img_url: '750x' }}'
                loading='lazy'
                class='block md:hidden w-full mobile mx-auto hover:opacity-80'
                alt='{{ block.settings.mobile_image.alt | escape }}'
                width='{{ block.settings.mobile_image.width }}'
                height='{{ block.settings.mobile_image.width | divided_by: block.settings.mobile_image.aspect_ratio }}'
              >
            </div>
          {% endif %}
  
          {% if block.settings.heading != '' %}
            <h2
              style='color: {{block.settings.text_color}}'
              class='mt-5 md:px-0 {{ block.settings.heading_size }} {{block.settings.font_weight}} {{block.settings.heading_alignment}} pb-4'
              {{ block.shopify_attributes }}
            >
              {{ block.settings.heading | replace: '&lt;', '<' | replace: '&gt;', '>' }}
            </h2>
          {% endif %}
  
          {% if block.settings.description != '' %}
            <p
              style='color: {{block.settings.text_color}}'
              class='text-base md:px-0 {% if block.settings.display_button %}pb-4{% endif %} {{block.settings.description_alignment}}'
            >
              {{ block.settings.description | replace: '&lt;', '<' | replace: '&gt;', '>' }}
            </p>
          {% endif %}
  
          {% if block.settings.display_button %}
            <div class='{{block.settings.mobile_alignment}} md:{{block.settings.desktop_alignment}} block'>
              <a
                {% if block.settings.url == blank %}
                  role='link' aria-disabled='true'
                {% else %}
                  href='{{ block.settings.url }}'
                {% endif %}
                class='{{block.settings.button_style}} inline-block relative'
                {{ block.shopify_attributes }}
              >
                {{ block.settings.button_label | escape }}
              </a>
            </div>
          {% endif %}
          {% if block.settings.url != blank and block.settings.display_button == false %}
          </a>
            {% else %}
        </span>
      {% endif %}
      {% endfor %}
    </div>
  </section>
  
  {% schema %}
  {
    "name": "Featured Cards",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Global Section Settings"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color of section",
        "default": "#FFFFFF"
      },
      {
        "type": "select",
        "id": "desktop_max_width",
        "options": [
          {
            "value": "max-w-medium",
            "label": "Medium Width Desktop"
          },
          {
            "value": "max-w-small",
            "label": "Small Width Desktop"
          },
          {
            "value": "max-w-full",
            "label": "Full Width Desktop"
          }
        ],
        "default": "max-w-medium",
        "label": "Medium Width Desktop"
      },
      {
        "type": "number",
        "default": 96,
        "label": "Desktop Section Top Padding",
        "id": "desktop_padding_top"
      },
      {
        "type": "number",
        "default": 96,
        "label": "Desktop Section Bottom Padding",
        "id": "desktop_padding_bottom"
      },
      {
        "type": "number",
        "default": 64,
        "label": "Mobile Section Top Padding",
        "id": "mobile_padding_top"
      },
      {
        "type": "number",
        "default": 24,
        "label": "Mobile Section Bottom Padding",
        "id": "mobile_padding_bottom"
      },
      {
        "type": "number",
        "default": 24,
        "label": "Mobile Section Padding Left/Right",
        "id": "mobile_padding_x"
      },
      {
        "type": "header",
        "content": "Card Section Settings"
      },
      {
        "type": "number",
        "default": 0,
        "label": "Mobile Section Padding Left/Right Card Content",
        "id": "mobile_card_padding_x"
      },
      {
        "type": "number",
        "default": 0,
        "label": "Border Radius Of Cards",
        "id": "border_radius"
      },
      {
        "type": "header",
        "content": "Grid settings"
      },
      {
        "type": "number",
        "default": 2,
        "label": "Number of columns on extra large desktop",
        "id": "extra_wide_desktop_grid_columns",
        "info": "Only a maximum of 4 columns will work"
      },
      {
        "type": "number",
        "default": 2,
        "label": "Number of columns on desktop",
        "id": "desktop_grid_columns",
        "info": "Only a maximum of 4 columns will work"
      },
      {
        "type": "number",
        "default": 1,
        "label": "Number of columns on mobile",
        "id": "mobile_grid_columns",
        "info": "Only a maximum of 4 columns will work"
      },
      {
        "type": "number",
        "default": 40,
        "label": "Desktop Row Gap",
        "id": "desktop_row_gap"
      },
      {
        "type": "number",
        "default": 40,
        "label": "Mobile Row Gap",
        "id": "mobile_row_gap"
      },
      {
        "type": "number",
        "default": 16,
        "label": "Desktop Column Gap",
        "id": "desktop_column_gap"
      },
      {
        "type": "number",
        "default": 16,
        "label": "Mobile Column Gap",
        "id": "mobile_column_gap"
      }
    ],
    "blocks": [
      {
        "type": "featured-item",
        "name": "Featured Item",
        "settings": [
          {
            "type": "color",
            "id": "background_color",
            "label": "Background color of card",
            "default": "#FFFFFF"
          },
          {
            "type": "header",
            "content": "Desktop Settings"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Desktop Image"
          },
          {
            "type": "number",
            "default": 0,
            "label": "Desktop Image Max Width",
            "id": "desktop_image_max_width",
            "info": "If any value above 0 then it will enable a max width for the desktop image"
          },
          {
            "type": "header",
            "content": "Mobile Settings"
          },
          {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Mobile Image"
          },
          {
            "type": "number",
            "default": 0,
            "label": "Mobile Image Max Width",
            "id": "mobile_image_max_width",
            "info": "If any value above 0 then it will enable a max width for the mobile image"
          },
          {
            "type": "text",
            "id": "heading",
            "default": "Talk about your brand",
            "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "Color of text",
            "default": "#000000"
          },
          {
            "type": "select",
            "id": "heading_alignment",
            "label": "Heading Alignment",
            "options": [
              {
                "value": "text-center",
                "label": "Text Center"
              },
              {
                "value": "text-right",
                "label": "Text Right"
              },
              {
                "value": "text-left",
                "label": "Text Left"
              }
            ],
            "default": "text-left",
            "label": "Heading Alignment"
          },
          {
            "type": "select",
            "id": "font_weight",
            "options": [
              {
                "value": "font-bold",
                "label": "Bold"
              },
              {
                "value": "font-semibold",
                "label": "Semibold"
              },
              {
                "value": "font-normal",
                "label": "Normal"
              }
            ],
            "default": "font-bold",
            "label": "Bold"
          },
          {
            "type": "select",
            "id": "heading_size",
            "options": [
              {
                "value": "h1",
                "label": "H1"
              },
              {
                "value": "h2",
                "label": "H2"
              },
              {
                "value": "h3",
                "label": "H3"
              },
              {
                "value": "h4",
                "label": "H4"
              },
              {
                "value": "h5",
                "label": "H5"
              },
              {
                "value": "h6",
                "label": "H6"
              }
            ],
            "default": "h1",
            "label": "Heading Size"
          },
          {
            "type": "textarea",
            "id": "description",
            "default": "5 Gyres is a non-profit organization that uses science, education and adventure to empower action against the global crisis of plastic pollution.",
            "label": "Description"
          },
          {
            "type": "select",
            "id": "description_alignment",
            "label": "Description Alignment",
            "options": [
              {
                "value": "text-center",
                "label": "Text Center"
              },
              {
                "value": "text-right",
                "label": "Text Right"
              },
              {
                "value": "text-left",
                "label": "Text Left"
              }
            ],
            "default": "text-left",
            "label": "Description Alignment"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Learn More URL"
          },
          {
            "type": "checkbox",
            "id": "display_button",
            "label": "Displays Button"
          },
          {
            "type": "text",
            "id": "button_label",
            "default": "Button label",
            "label": "t:sections.rich-text.blocks.button.settings.button_label.label"
          },
          {
            "type": "select",
            "id": "button_style",
            "options": [
              {
                "value": "button-primary",
                "label": "Button Primary"
              },
              {
                "value": "button-secondary",
                "label": "Button Secondary"
              },
              {
                "value": "button-white",
                "label": "Button White"
              },
              {
                "value": "button-small",
                "label": "Button Small"
              },
              {
                "value": "button-link",
                "label": "Button Link"
              }
            ],
            "default": "button-white",
            "label": "Button Style"
          },
          {
            "type": "select",
            "id": "mobile_alignment",
            "label": "Mobile Alignment",
            "options": [
              {
                "value": "text-center",
                "label": "Text Center"
              },
              {
                "value": "text-right",
                "label": "Text Right"
              },
              {
                "value": "text-left",
                "label": "Text Left"
              }
            ],
            "default": "text-left",
            "label": "Mobile Alignment"
          },
          {
            "type": "select",
            "id": "desktop_alignment",
            "label": "Desktop Alignment",
            "options": [
              {
                "value": "text-center",
                "label": "Text Center"
              },
              {
                "value": "text-right",
                "label": "Text Right"
              },
              {
                "value": "text-left",
                "label": "Text Left"
              }
            ],
            "default": "text-left",
            "label": "Desktop Alignment"
          },
          {
            "type": "checkbox",
            "id": "external_url",
            "label": "Opens link in new tab"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured Cards"
      }
    ]
  }
  {% endschema %}
  